@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC',sans-serif !important;
    width: 100%;
    height: 100vh;
}

* {
  box-sizing: border-box;
}

.background {
    background-image: url("./../img/wallpaper.png");
    background-attachment: fixed;

    position: fixed;
    left: 0;
    right: 0;

    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

a {
    color: #0060B6;
    text-decoration: none;
}

.hero {
    background: linear-gradient(0deg,rgb(61, 242, 188) 0%, rgba(237, 221, 83, 1) 50%, rgb(217, 242, 148) 100%);
    width: 720px;
    height: 1000px;
    border-radius: 10px;

    overflow: auto;

    opacity: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info {
    padding: 50px;
}

.pfp {
    width: 30%;
    height: 30%;
    filter: saturate(1.2);

    float: right;
}

.divider {
    display: none;
}

.divider1 {
    display: none;
}

#youtube_icon {
    width: 60px;
    height: 60px;
}

#main_instagram_icon {
    width: 60px;
    height: 60px;
}

#ckcsc_instagram_icon {
    width: 60px;
    height: 60px;
}

#github_icon {
    width: 60px;
    height: 60px;
}

#hackmd_icon {
    width: 60px;
    height: 60px;
}

#slides_icon {
    width: 60px;
    height: 60px;
}

@media (max-width: 720px) {
    .hero {
        position: relative;
        background-position: center;
    
        width: 90%;
        height: 80%;
        text-align: center;
        background-size: cover;

        padding: 30% 0;
    }

    .pfp{
        display:none;
    }

    .info {
        padding: 20px;
    }

    .divider {
        display: inline;
    }

    .divider1 {
        display: inline;
    }
}
